---

---
<footer>
    <div class="grid grid-cols-3 bg-[#200934] text-white p-4 h-96 w-full" >

        <div class="flex flex-col">
            <h2 class="text-3xl flex justify-center">CONTACTO</h2>
            <p class="items-start pt-7">Direccion: Acceso 1 2-98, Paine, Region Metropolitana</p>
            <p class="items-start">Telefono: 9 7208 4570</p>

        </div>
        <div class="flex-col  items-center flex">
            <p class="text-3xl ">DONDE ESTAMOS</p>
            <img src="/maps.png" alt="maps" class="h-[20rem] w-[30rem] pt-7"/>
        </div>
        <div class="flex-col items-center flex">
            <p class="text-3xl flex justify-center">VACUNACION</p>
            <img src="/index/4.png" alt="vacunate" class="h-[20rem] w-[20rem] pt-7"/>
        </div>
    </div>
</footer>